body {
    background-image: url(imgs/background1.jpg);
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    
    color: #ffffff;
    line-height: 1.6;
}

h1{
    text-align: center;
}
main {
    min-height: 580px;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    background: transparent;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 80px;
    padding-right: 80px;
    margin-left: 200px;
    margin-right: 200px;   
    border-radius: 10px;
}

#logo {
    width: 280px;
    display: flex;
    margin-left: 30px;
}

header {
    height: 150px;
    background: transparent;
    backdrop-filter: blur(20px);
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    margin-bottom: 80px;
}

header h1 {
    font-size: 2.5rem;
    margin: 0;
}

header p {
    font-size: 1.2rem;
    color: #aaaaaa;
}

nav {
    border-top: 2px solid rgba(255, 255, 255, .2);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    background-color: #125a24;
    display: flex;
}

nav a {
    margin-left: 40px;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #444444;
}


.container {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: center;
}

.jogo {
    min-width: 350px;
    flex: 1 1 calc(33.33% - 20px); 
    max-width: calc(33.33% - 20px); 
    background-color: #1e1e1e;
    border: 2px solid #125a24;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    padding-bottom: 20px;
}

.jogo.fade-in {
    opacity: 1;
}

.jogo:hover {
    transition: 0.3s;
    transform: translateY(-5px);
    transform: scale(1.05);
}
.add{
    opacity: 0;
    background-color: #125a24;
}

.jogo:hover .add{
    opacity: 1;
}

.game:hover .add{
    opacity: 1;
    background-color: rgb(241, 5, 5);
}

.jogo .img-jogo {
    width: 100%;
    height: 270px;
    object-fit: cover;
}

.jogo .tittle {
    height: 50px;
    background-color: #125a24;
    color: #ffffff;
    font-size: 18px;
    margin: 0;
    padding: 5px;
    text-align: center;
}

.jogo .desc {
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    color: #dddddd;
    font-size: 13px;
}

footer {
    border-top: 2px solid rgba(255, 255, 255, .2);
    background-color: #000000;
    color: #aaaaaa;
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
}

footer p {
    margin: 0;
}

.popup {
    position: absolute;
    background: black;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 250px;
    display: none;
}

.popup h2 {
    margin: 0 0 10px;
    font-size: 18px;
}

#cefet-link {
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.game {
    min-width: 350px; 
    max-width: calc(33.33% - 20px); 
    background-color: #1e1e1e;
    border: 2px solid #125a24;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    padding-bottom: 20px;
}

.game.fade-in {
    opacity: 1;
}

.game:hover {
    transition: 0.3s;
    transform: translateY(-5px);
    transform: scale(1.05);
}
.game .img-jogo {
    width: 100%;
    height: 270px;
    object-fit: cover;
}

.game .tittle {
    height: 50px;
    background-color: #125a24;
    color: #ffffff;
    font-size: 18px;
    margin: 0;
    padding: 5px;
    text-align: center;
}

.game .desc {
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    color: #dddddd;
    font-size: 13px;
}
