body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    overflow: hidden;
}

header,
footer {
    background-color: white;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

footer {
    position: absolute;
    bottom: 0;
    padding: 0.8%;
    width: 100%;
}

header {
    display: flex;
    justify-content: space-around;
    padding: 1.5%;
}

nav ul li {
    list-style: none;
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: green;
    font-size: 18px;
    padding: 0 15px;
    text-transform: capitalize;
    margin-left: 80em;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 350%;
    text-shadow: 15px 15px 15px black;
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 150%;
    text-shadow: 15px 15px 15px black;
}

main {
    position: absolute;
    margin-left: 20%;
    margin-top: 10%;
}

#logo {
    width: 200px;
}

.container {
    position: relative;
    right: 0;
    left: 87;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    max-width: 1920px; 
    margin: 0;
}

.jogo {
    flex: calc(25% - 20px);
    box-sizing: border-box;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 16px;
    padding: 15px;
    text-align: center;
    height: 500px;
    width: 300px;
}